body{
background-image: url("contemporary_china.png");
}

.container{
  width: 66%;
  margin: auto;
  font-size:18px;
  font-family: Helvetica;
}

.topPart{
  margin-left:33%;
  margin-right:33%
}

h1{
  text-align:center;
}
h3{
  font-size:24px;
}

img{
  height: 400px;
  width: 266px;
}

a{
  color:rgb(148,0,211);
}
a:hover{
  color:rgb(147,112,219);
}
